@using Itmo.Dev.Asap.Frontend.Application.Abstractions.Checking.Models
@using Itmo.Dev.Asap.Frontend.Application.Abstractions.Submissions

@if (Result is not null)
{
    <div style="position: relative">
        <MudStack Row="true" Class="similarity-score">

            <MudText Typo="@SimilarityScoreTypo">
                @(Result.SimilarityScore * 100)%
            </MudText>

        </MudStack>

        <MudStack Style="width: 100%; align-items: center;">

            <MudText Typo="@AssignmentNameTypo">
                @Result.AssignmentName
            </MudText>

            <MudStack Row="true" Style="justify-content: center; width: 100%">

                <MudText Typo="@StudentNameTypo" Class="@FirstSubmissionClass">
                    @Result.FirstSubmission.Student.DisplayName
                </MudText>

                <MudIcon Icon="@Icons.Material.Filled.Clear"/>

                <MudText Typo="StudentNameTypo" Class="@SecondSubmissionClass">
                    @Result.SecondSubmission.Student.DisplayName
                </MudText>

            </MudStack>

        </MudStack>
    </div>
}

@code {

    private Typo SimilarityScoreTypo => Typo.h4;
    private Typo AssignmentNameTypo => Typo.body2;
    private Typo StudentNameTypo => Typo.body1;

    private string FirstSubmissionClass => Result?.FirstSubmission.State is SubmissionState.Banned
        ? "first-submission banned"
        : "first-submission";
    
    private string SecondSubmissionClass => Result?.SecondSubmission.State is SubmissionState.Banned
        ? "second-submission banned"
        : "second-submission";

    [Parameter]
    public SubjectCourseCheckingResult? Result { get; set; }

}